<section class="random-cars-two__section">
    <div class="random-cars-two__wrapper">
        <div class="random-cars-two__car-wrapper">
            <a href="" class="random-cars-two__link random-cars-two__link-highlight">
                <div class="random-cars-two__col">
                    <img src="../../assets/bmw-seria-5-g30-g31.jpg" alt="" class="random-cars-two__car-image">
                </div>
                <div class="random-cars-two__col">
                    <h3 class="random-cars-two__car-heading">BMW 5 G30</h3>
                    <p class="random-cars-two__car-price">$30000</p>
                </div>
                <div class="random-cars-two__col">
                    <p class="random-cars__car-production">2016</p>
                    <p class="random-cars__car-mileage">50000 km</p>
                </div>
            </a>
            <a href="" class="random-cars-two__link random-cars-two__link-highlight">
                <div class="random-cars-two__col">
                    <img src="../../assets/bmw-seria-5-g30-g31.jpg" alt="" class="random-cars-two__car-image">
                </div>
                <div class="random-cars-two__col">
                    <h3 class="random-cars-two__car-heading">BMW 5 G30</h3>
                    <p class="random-cars-two__car-price">$30000</p>
                </div>
                <div class="random-cars-two__col">
                    <p class="random-cars__car-production">2016</p>
                    <p class="random-cars__car-mileage">50000 km</p>
                </div>
            </a>
            <a href="" class="random-cars-two__link random-cars-two__link-highlight">
                <div class="random-cars-two__col">
                    <img src="../../assets/bmw-seria-5-g30-g31.jpg" alt="" class="random-cars-two__car-image">
                </div>
                <div class="random-cars-two__col">
                    <h3 class="random-cars-two__car-heading">BMW 5 G30</h3>
                    <p class="random-cars-two__car-price">$30000</p>
                </div>
                <div class="random-cars-two__col">
                    <p class="random-cars__car-production">2016</p>
                    <p class="random-cars__car-mileage">50000 km</p>
                </div>
            </a>
            <a href="" class="random-cars-two__link random-cars-two__link-highlight">
                <div class="random-cars-two__col">
                    <img src="../../assets/bmw-seria-5-g30-g31.jpg" alt="" class="random-cars-two__car-image">
                </div>
                <div class="random-cars-two__col">
                    <h3 class="random-cars-two__car-heading">BMW 5 G30</h3>
                    <p class="random-cars-two__car-price">$30000</p>
                </div>
                <div class="random-cars-two__col">
                    <p class="random-cars__car-production">2016</p>
                    <p class="random-cars__car-mileage">50000 km</p>
                </div>
            </a>
            <a href="" class="random-cars-two__link random-cars-two__link-highlight">
                <div class="random-cars-two__col">
                    <img src="../../assets/bmw-seria-5-g30-g31.jpg" alt="" class="random-cars-two__car-image">
                </div>
                <div class="random-cars-two__col">
                    <h3 class="random-cars-two__car-heading">BMW 5 G30</h3>
                    <p class="random-cars-two__car-price">$30000</p>
                </div>
                <div class="random-cars-two__col">
                    <p class="random-cars__car-production">2016</p>
                    <p class="random-cars__car-mileage">50000 km</p>
                </div>
            </a>
            <a href="" class="random-cars-two__link random-cars-two__link-highlight">
                <div class="random-cars-two__col">
                    <img src="../../assets/bmw-seria-5-g30-g31.jpg" alt="" class="random-cars-two__car-image">
                </div>
                <div class="random-cars-two__col">
                    <h3 class="random-cars-two__car-heading">BMW 5 G30</h3>
                    <p class="random-cars-two__car-price">$30000</p>
                </div>
                <div class="random-cars-two__col">
                    <p class="random-cars__car-production">2016</p>
                    <p class="random-cars__car-mileage">50000 km</p>
                </div>
            </a>
        </div>
    </div>
</section>