<section class="random-cars-two__section">
    <div class="random-cars-two__wrapper">
        <div class="random-cars-two__wrapper-heading">
            <h2 class="random-cars-two__heading">Featured</h2>
        </div>
        <div class="random-cars-two__wrapper-car">
            <mdb-carousel [isControls]="true" class="carousel slide carousel-multi-item v-2" [animation]="'fade'">
                <mdb-slide *ngFor="let card of galleryCars; let i = index" class="animated fadeIn">
                    <a href="#!"*ngFor="let car of card; let i index" class="random-cars-two__link">
                        <div class="random-cars-two__col">
                            <img src="{{car.imageThumbnail}}" alt="" class="random-cars-two__car-image">
                        </div>
                        <div class="random-cars-two__col">
                            <h3 class="random-cars-two__car-heading">{{car.manufacture | uppercase}} {{car.model | uppercase}}</h3>
                            <p class="random-cars-two__car-price">${{car.price}}</p>
                        </div>
                        <div class="random-cars-two__col">
                            <p class="random-cars__car-production">{{car.year}}</p>
                            <p class="random-cars__car-mileage">{{car.mileage}}</p>
                        </div>
                    </a>
                </mdb-slide>
            </mdb-carousel>
        </div>
      </div>
</section>