* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-image: url(../../assets/header-1.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    &__wrapper {
        margin: 0 auto;
        justify-content: center;
        width: 1170px;
    }

    &__text-content {
        padding: 17rem 0;
    }
}
