<section class="footer__section">
    <div class="wrapper">
        <div class="col">
            <div class="wrapper__icons">
                <img src="../../assets/appstore.png" alt="App Store" class="icons__icon icons__icon--appstore">
                <img src="../../assets/gplay.png" alt="Google Play" class="icons__icon icons__icon--googleplay">
            </div>
            <div class="wrapper__menu">
                <ul class="menu__list">
                    <li class="menu__element">
                        <a href="#!" class="menu__link">Home</a>
                    </li>
                    <li class="menu__element">
                        <a href="#!" class="menu__link">My Cars</a>
                    </li>
                    <li class="menu__element">
                        <a href="#!" class="menu__link">Cars</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="wrapper__vehicles">
                <h3 class="vehicles__heading">Vehicles</h3>
                <ul class="vehicles__list">
                    <li class="vehicles__element">
                        <a href="#!" class="vehicles__link">About</a>
                    </li>
                    <li class="vehicles__element">
                        <a href="#!" class="vehicles__link">Contact us</a>
                    </li>
                    <li class="vehicles__element">
                        <a href="#!" class="vehicles__link">Accessibility</a>
                    </li>
                    <li class="vehicles__element">
                        <a href="#!" class="vehicles__link">Careers</a>
                    </li>
                    <li class="vehicles__element">
                        <a href="#!" class="vehicles__link">Request Brochure</a>
                    </li>
                    <li class="vehicles__element">
                        <a href="#!" class="vehicles__link">Newsletter SignUp</a>
                    </li>
                    <li class="vehicles__element">
                        <a href="#!" class="vehicles__link">Press Releases</a>
                    </li>
                    <li class="vehicles__element">
                        <a href="#!" class="vehicles__link">Advertising</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="wrapper__trade">
                <h3 class="trade__heading">Trade or sell a car</h3>
                <ul class="trade__list">
                    <li class="trade__element">
                        <a href="#!" class="trade__link">Sell a Car</a>
                    </li>
                    <li class="trade__element">
                        <a href="#!" class="trade__link">Trade in a Car</a>
                    </li>
                    <li class="trade__element">
                        <a href="#!" class="trade__link">Car Deals</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="wrapper__services">
                <h3 class="services__heading">Services</h3>
                <ul class="services__list">
                    <li class="services__element">
                        <a href="#!" class="services__link">Car insurance</a>
                    </li>
                    <li class="services__element">
                        <a href="#!" class="services__link">Car loans</a>
                    </li>
                    <li class="services__element">
                        <a href="#!" class="services__link">Vehicle check</a>
                    </li>
                    <li class="services__element">
                        <a href="#!" class="services__link">Car warranty</a>
                    </li>
                    <li class="services__element">
                        <a href="#!" class="services__link">GAP insurance</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="wrapper__support">
                <h3 class="support__heading">Help & Support</h3>
                <ul class="support__list">
                    <li class="support__element">
                        <a href="#!" class="support__link">About</a>
                    </li>
                    <li class="support__element">
                        <a href="#!" class="support__link">Contact us</a>
                    </li>
                    <li class="supports__element ">
                        <a href="#!" class="support__link">Accessibility</a>
                    </li>
                    <li class="support__element">
                        <a href="#!" class="support__link">Careers</a>
                    </li>
                    <li class="support__element">
                        <a href="#!" class="support__link">Request Brochure</a>
                    </li>
                    <li class="support__element">
                        <a href="#!" class="support__link">Newsletter SignUp</a>
                    </li>
                    <li class="support__element">
                        <a href="#!" class="support__link">Press Releases</a>
                    </li>
                    <li class="vehicles__element">
                        <a href="#!" class="vehicles__link">Advertising</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>