<section class="footer__section section">
    <div class="wrapper">
        <div class="col">
            <div class="wrapper__stores">
                <img src="../../assets/appstore.png" alt="App Store" class="stores__image stores__image--appstore">
                <img src="../../assets/gplay.png" alt="Google Play" class="stores__image stores__image--googleplay">
            </div>
            <div class="wrapper__menu list">
                <ul class="menu__list list__unorder">
                    <li class="menu__element list__element">
                        <a href="#!" class="menu__link list__link">Home</a>
                    </li>
                    <li class="menu__element list__element">
                        <a href="#!" class="menu__link list__link">My Cars</a>
                    </li>
                    <li class="menu__element list__element">
                        <a href="#!" class="menu__link list__link">Cars</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="wrapper__vehicles list">
                <h3 class="vehicles__heading list__heading">Vehicles</h3>
                <ul class="vehicles__list list__unorder">
                    <li class="vehicles__element list__element">
                        <a href="#!" class="vehicles__link list__link">About</a>
                    </li>
                    <li class="vehicles__element list__element">
                        <a href="#!" class="vehicles__link list__link">Contact us</a>
                    </li>
                    <li class="vehicles__element list__element">
                        <a href="#!" class="vehicles__link list__link">Accessibility</a>
                    </li>
                    <li class="vehicles__element list__element">
                        <a href="#!" class="vehicles__link list__link">Careers</a>
                    </li>
                    <li class="vehicles__element list__element">
                        <a href="#!" class="vehicles__link list__link">Request Brochure</a>
                    </li>
                    <li class="vehicles__element list__element">
                        <a href="#!" class="vehicles__link list__link">Newsletter SignUp</a>
                    </li>
                    <li class="vehicles__element list__element">
                        <a href="#!" class="vehicles__link list__link">Press Releases</a>
                    </li>
                    <li class="vehicles__element list__element">
                        <a href="#!" class="vehicles__link list__link">Advertising</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="wrapper__trade list">
                <h3 class="trade__heading list__heading">Trade or sell a car</h3>
                <ul class="trade__list list__unorder">
                    <li class="trade__element list__element">
                        <a href="#!" class="trade__link list__link">Sell a Car</a>
                    </li>
                    <li class="trade__element list__element">
                        <a href="#!" class="trade__link list__link">Trade in a Car</a>
                    </li>
                    <li class="trade__element list__element">
                        <a href="#!" class="trade__link list__link">Car Deals</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="wrapper__services list">
                <h3 class="services__heading list__heading">Services</h3>
                <ul class="services__list list__unorder">
                    <li class="services__element list__element">
                        <a href="#!" class="services__link list__link">Car insurance</a>
                    </li>
                    <li class="services__element list__element">
                        <a href="#!" class="services__link list__link">Car loans</a>
                    </li>
                    <li class="services__element list__element">
                        <a href="#!" class="services__link list__link">Vehicle check</a>
                    </li>
                    <li class="services__element list__element">
                        <a href="#!" class="services__link list__link">Car warranty</a>
                    </li>
                    <li class="services__element list__element">
                        <a href="#!" class="services__link list__link">GAP insurance</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="wrapper__support list">
                <h3 class="support__heading list__heading">Help & Support</h3>
                <ul class="support__list list__unorder">
                    <li class="support__element list__element">
                        <a href="#!" class="support__link list__link">About</a>
                    </li>
                    <li class="support__element list__element">
                        <a href="#!" class="support__link list__link">Contact us</a>
                    </li>
                    <li class="supports__element list__element">
                        <a href="#!" class="support__link list__link">Accessibility</a>
                    </li>
                    <li class="support__element list__element">
                        <a href="#!" class="support__link list__link">Careers</a>
                    </li>
                    <li class="support__element list__element">
                        <a href="#!" class="support__link list__link">Request Brochure</a>
                    </li>
                    <li class="support__element list__element">
                        <a href="#!" class="support__link list__link">Newsletter SignUp</a>
                    </li>
                    <li class="support__element list__element">
                        <a href="#!" class="support__link list__link">Press Releases</a>
                    </li>
                    <li class="vehicles__element list__element">
                        <a href="#!" class="vehicles__link list__link">Advertising</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="col">
            <div class="icons">
                <ul class="icons__list">
                    <li class="icons__element"><a href="#!" class="icons__link"><i class="fab fa-facebook-f icons__facebook"></i></a></li>
                    <li class="icons__element"><a href="#!" class="icons__link"><i class="fab fa-twitter icons__twitter"></i></a></li>
                    <li class="icons__element"><a href="#!" class="icons__link"><i class="fab fa-youtube icons__youtube"></i></a></li>
                    <li class="icons__element"><a href="#!" class="icons__link"><i class="fab fa-google-plus-g icons__googleplusg"></i></a></li>
                    <li class="icons__element"><a href="#!" class="icons__link"><i class="fas fa-rss icons__rss"></i></a></li>
                </ul>   
            </div>
        </div>
        <div class="col">
            <h5 class="headline">© 2010-2017 <span class="headline--green">HOGASH STUDIO</span>. ALL RIGHTS RESERVED</h5>
        </div>
    </div>
</section>