.section {
    display: flex;
    flex-direction: column;
    padding-top: 8em;
    justify-content: center;
}
.wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col {
    max-width: 300px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 3em 5em 3em;
}

.list {
    &__heading {
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__unorder {

    }
    &__element {
        list-style: none;
        line-height: 2em;
    }   
    &__link {
        font-size: 0.7em;
        font-weight: 700;
        text-decoration: none;
        color: rgb(41, 41, 41);
    }
}

.icons {
    &__list {
        
    }
    &__element {
        display: inline-flex;
        justify-content: space-evenly;
    }
    &__link {
        text-decoration: none;
        font-size: 1.2em;
        margin: 10px;
    }
}