.car {
    &__card {
        padding: 20px 10px 0px 10px;
    }
    &__link {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 100%;
        text-decoration: none;
        color: #000;
    }
    &__col {
        display: flex;
        flex-direction: column;
        margin: 5px;
        &:nth-of-type(2) {
            width: 25%;
        }
        &:last-of-type {
            text-align: right;
        }
    }
    &__heading {
        font-size: 0.8em;
    }
    &__description {
        font-size: 0.7em;
        word-wrap: break-word;
    }
    &__price {
        font-size: 0.85em;
        font-weight: 700;
    }
    &__miles {
        font-size: 0.85em;
    }
    &__production {
        font-size: 0.85em;
    }
}