<div class="search-car__car-wrapper">
    <a href="" class="search-car__car-link">
        <div class="search-car__col">
            <img src="../../assets/bmw-5-thumbnail.jpg" width="100" height="100" alt="" class="search-car__car-thumbnail">
        </div>
        <div class="search-car__col">
            <h3 class="search-car__car-heading">{{displayCar.manufacture | titlecase}} {{nameOfModel}}</h3>
            <p class="search-car__car-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
        <div class="search-car__col">
            <p class="search-car__car-price">${{displayCar.price}}</p>
            <p class="search-car__car-miles">{{displayCar.mileage}}</p>
            <p class="search-car__car-production">{{displayCar.year}}</p>
        </div>
    </a>
</div>