<div class="car__card">
    <a href="" class="car__link">
        <div class="ar__col">
            <img src={{displayCar.imageThumbnail}} width="140" height="100" alt="" class="car__thumbnail">
        </div>
        <div class="car__col">
            <h3 class="car__heading">{{titleOfManufacture}} {{nameOfModel}}</h3>
            <p class="car__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
        <div class="car__col">
            <p class="car__price">${{displayCar.price}}</p>
            <p class="car__miles">{{displayCar.mileage}}</p>
            <p class="car__production">{{displayCar.year}}</p>
        </div>
    </a>
</div>