.search-car {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        position: absolute;
        top: 80px;
        bottom:0;
        left:50%;
        right:0;

        transform: translate(-50%);
        
        max-width: 1170px;
        width: 100%;
    }
    &__show-result {
        border: none;
        height: 40px;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        background: #2c3966;
        margin-top: 25px;
    }
    &__wrapper {
        background-color: #fff;
        max-width: 1170px;
        width: 100%;
    }
    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__form-wrapper {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
    
        &:nth-last-of-type(n+5) {
            padding: 40px 10px 10px 10px;
            width: 44%;
            min-width: 16em;
        }
        &:nth-of-type(n+3) {
            padding: 10px 10px 40px 10px;
            width: 22%;
            min-width: 8em;
        }
        &:nth-last-of-type() {
            margin-top: 40px;
        }
    }
    &__input-label {
        color: #2c3966;
        font-size: 0.8rem;
        padding-bottom: 10px;
        font-weight: 700;
    }
    &__input {
        margin-left: 5px;
        height: 40px;
        // width: 240px;
        border: 2px solid #fff;
        box-shadow: 0px 0px  4px 0px rgba(0, 0, 0, 0.281);
        font-size: 1rem;
    
        & > * {
            background: #fff;
            color: rgb(105, 105, 105);
            font-size: 1rem;
        }
    }

    &__display-results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
    &__car-wrapper {
        width: 24.35em;
        padding: 20px;
        border-bottom: 1px solid rgb(114, 114, 114, 0.2);
    }
    &__car-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
        text-decoration: none;
        color: #000;
    }
    &__col {
        display: flex;
        flex-direction: column;
        margin: 5px;
        &:nth-of-type(2) {
            width: 25%;
        }
        &:last-of-type {
            text-align: right;
        }
    }
    &__car-heading {
        font-size: 0.8em;
    }
    &__car-description {
        font-size: 0.7em;
        word-wrap: break-word;
    }
    &__car-price {
        font-size: 0.85em;
        font-weight: 700;
    }
    &__car-miles {
        font-size: 0.85em;
    }
    &__car-production {
        font-size: 0.85em;
    }
}