<section class="search-car__section">
    <div class="search-car__wrapper">
        <form #searchCar="ngForm" ngSubmit="onSubmit(searchCar)" class="search-car__form">
            <div class="search-car__form-wrapper">
                <label for="cars" class="search-car__input-label">Make</label>
                <select name="cars" 
                        id="cars" 
                        class="search-car__input search-car__make-select" 
                        (change)="onManufacture($event.target.value)" 
                        ngModel>
                    <option value="">All</option>
                    <option 
                        #manufacture
                        *ngFor="let manufacture of manufactures" 
                        value="{{manufacture.name}}">
                        
                        {{manufacture.title}}</option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <label for="model" class="search-car__input-label">Model</label>
                <select name="model" id="model" class="search-car__input search-car__model-select" (change)="onModel($event.target.value)">
                    <option value="0">All</option>
                    <option 
                        #make
                        *ngFor="let model of models"
                        value="{{model | lowercase}}">
                    
                        {{model}}</option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <label for="max-price" class="search-car__input-label">Max Price</label>
                <select name="max-price" 
                        id="max-price" 
                        class="search-car__input search-car__max-price-select" 
                        (change)="onPrice($event.target.value)" 
                        ngModel>
                    <option  value="0">All</option>
                    <option *ngFor="let price of prices"
                            value="{{price}}">
                            ${{price}}
                    </option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <label for="min-year" class="search-car__input-label">Min year</label>
                <select name="min-year" id="min-year" class="search-car__input search-car__min-year-select" (change)="onYear($event.target.value)">
                    <option value="0">All</option>
                    <option #year
                            *ngFor="let year of years"
                            value="{{year}}">
                            {{year}}
                    </option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <label for="max-mileage" class="search-car__input-label">Max Mileage</label>
                <select name="max-mileage" id="max-mileage" class="search-car__input search-car__max-mileage-select" (change)="onMileage($event.target.value)">
                    <option value="0">All</option>
                    <option *ngFor="let mileage of mileages"
                            value="{{mileage}}">
                            {{mileage}}
                    </option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <input type="submit" value="Show Result" class="search-car__show-result">
            </div>
        </form>
    </div>
    <div class="search-car__wrapper">
        <div class="search-car__display-results">
            <app-car></app-car>
        </div>
    </div>
</section>