<section class="search-car__section">
    <div class="search-car__wrapper">
        <form [formGroup]="searchCarsForm" (ngSubmit)="onSubmit()" class="search-car__form">
            <div class="search-car__form-wrapper">
                <label for="manufacture" class="search-car__input-label">Manufacture</label>
                <select name="manufacture"
                        class="search-car__input search-car__make-select" 
                        formControlName="manufacture"
                        (change)="onManufacture($event.target.value)">
                    <option selected value="null">All</option>
                    <option 
                        *ngFor="let manufacture of manufactures" 
                        value="{{manufacture.name}}">
                        {{manufacture.title}}
                    </option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <label for="model" class="search-car__input-label">Model</label>
                <select 
                    name="model" 
                    class="search-car__input search-car__model-select" 
                    formControlName="model">

                    <option value="all" [selected]="true">All</option>
                    <option 
                        *ngFor="let model of handleModels | keyvalue" 
                        value="{{model.key}}">
                        {{model.value}}
                    </option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <label for="max-price" class="search-car__input-label">Max Price</label>
                <select name="max-price" 
                        id="max-price" 
                        class="search-car__input search-car__max-price-select" 
                        formControlName="price">
                    <option  value="0" [selected]="true">All</option>
                    <option 
                        *ngFor="let price of prices | keyvalue" 
                        value="{{price.key}}">
                        {{price.value}}
                    </option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <label for="min-year" class="search-car__input-label">Min year</label>
                <select name="min-year" 
                        id="min-year" 
                        class="search-car__input search-car__min-year-select"
                        formControlName="year">
                        
                    <option value="0">All</option>
                    <option 
                        *ngFor="let year of years | keyvalue" 
                        value="{{year.key}}">
                        {{year.value}}
                    </option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <label for="max-mileage" class="search-car__input-label">Max Mileage</label>
                <select name="max-mileage" 
                        id="max-mileage" 
                        class="search-car__input search-car__max-mileage-select"
                        formControlName="mileage">
                    <option value="0" disabled>All</option>
                    <option 
                        *ngFor="let mileage of mileages | keyvalue" 
                        value="{{mileage.key}}">
                        {{mileage.value}}
                    </option>
                </select>
            </div>
            <div class="search-car__form-wrapper">
                <button type="submit" class="search-car__show-result">Show Result</button>
            </div>
        </form>
    </div>
    <div class="search-car__wrapper">
        <div class="search-car__display-results">
            <ng-container *ngIf="filteredCars.length == 0; then thenBlock; else elseBlock"></ng-container>
            <mdb-carousel class="carousel-multi-item multi-animation" [animation]="'slide'">
                <ng-template #thenBlock >
                    <mdb-carousel-item *ngFor="let cards of slides; let i = index">
                        <li  class="search-car__display-link" *ngFor="let car of cards ; let i index" >
                            <a [routerLink]="['/car-detail', car.id]">
                                <car-card [car]="i"></car-card>
                            </a>
                        </li>
                    </mdb-carousel-item>
                </ng-template>
                <ng-template #elseBlock>
                    <mdb-carousel-item *ngFor="let item of slides; let i = index">
                        <li  class="search-car__display-link" *ngFor="let car of filteredCars ; let i index">
                            <a [routerLink]="['/car-detail', car.id]">
                                <car-card [car]="i"></car-card>
                            </a>
                        </li>
                    </mdb-carousel-item>
                </ng-template>
            </mdb-carousel>
        </div>
    </div>
</section>
