<section class="review-newest-car__section">
    <div class="review-newest-car__wrapper">
        <div class="review-newest-car__wrapper-heading">
            <h2 class="review-newest-car__heading"><span class="review-newest-car__heading--orange">New car</span>: BMW 5 G30</h2>
        </div>
        <div class="review-newest-car__wrapper-car">
            <div class="review-newest-car__wrapper-car__content">
                <div class="review-newest-car__wrapper-car__headline">
                    <h3 class="review-newest-car__wrapper-car__title">Exterior</h3>
                    <p class="review-newest-car__wrapper-car__subtitle">5 Photos</p>
                </div>
            </div>
            <div class="review-newest-car__wrapper-car__content">
                <div class="review-newest-car__wrapper-car__headline">
                    <h3 class="review-newest-car__wrapper-car__title">Interior</h3>
                    <p class="review-newest-car__wrapper-car__subtitle">7 Photos</p>
                </div>
            </div>
            <div class="review-newest-car__wrapper-car__content">
                <div class="review-newest-car__wrapper-car__headline">
                    <h3 class="review-newest-car__wrapper-car__title">Videos</h3>
                    <p class="review-newest-car__wrapper-car__subtitle">3 Videos</p>
                </div>
            </div>
            <div class="review-newest-car__wrapper-car__content">
                <div class="review-newest-car__wrapper-car__headline">
                    <h3 class="review-newest-car__wrapper-car__title">Vehicle Overview</h3>
                    <p class="review-newest-car__wrapper-car__subtitle">BMW 5 G30</p>
                </div>
            </div>
        </div>
    </div>
</section>