<section class="random-cars__section">
    <div class="random-cars__wrapper">
        <div class="random-cars_car-wrapper">
            <a href="" class="random-cars__link">
                <div class="random-cars__row">
                    <img src="../../assets/bmw-5-thumbnail.jpg" width="100" height="100" alt="" class="random-cars__car-image">
                </div>
                <div class="random-cars__row">
                    <h3 class="random-cars__car-heading">BMW 5 F10 550i</h3>
                    <p class="random-cars__car-price">$30000</p>
                </div>
                <div class="random-cars__row">
                    <h3 class="random-cars__car-production">2016</h3>
                    <p class="random-cars__car-mileage">50000</p>
                </div>
            </a>
        </div>
    </div>
</section>