<section class="random-cars__section">
    <div class="random-cars__wrapper">
        <div class="random-cars__car-wrapper">
            <a [routerLink]="['/car-detail', car.id]" class="random-cars__link" *ngFor="let car of carsReverse| slice:0:5 ; first as isFirst" [ngClass]="{ 'random-cars__link-highlight': isFirst }">
                <div class="random-cars__col">
                    <img src="{{car.imageMain}}" alt="" class="random-cars__car-image">
                </div>
                <div class="random-cars__col">
                    <h3 class="random-cars__car-heading">{{car.manufacture | uppercase}} {{car.model | uppercase}}</h3>
                    <p class="random-cars__car-price">${{car.price}}</p>
                </div>
                <div class="random-cars__col">
                    <p class="random-cars__car-production">{{car.year}}</p>
                    <p class="random-cars__car-mileage">{{car.mileage}}</p>
                </div>
            </a>
        </div>
    </div>
</section>