.section {
    background-color: #fff;
    padding: 2em 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1170px;
    &__heading {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 2%;
    }
    &__carousel {
        margin-bottom: 5%;
    }
    &__lacquer {
        margin-bottom: 5%;
    }
    &__buttons {
        margin-bottom: 5%;
    }
}

.headline {
    margin-right: 33%;
    color: rgb(71, 71, 71);
    &__title {
        font-weight: 400;
        font-size: 2em;
        padding-bottom: 18px;
        &--bold {
            font-weight: 700;
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 1em;
    }
}
.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:  rgb(71, 71, 71);
    text-align: right;
    margin-right: 10px;
    padding-right: 40px;
    border-right: 1px solid  rgb(71, 71, 71);
    &__worth {
        padding-bottom: 0.6em;
        font-weight: 700;
    }
    &__start-price {
        font-size: 0.8em;
    }
}
.mpg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:  rgb(71, 71, 71);
    &__number {
        padding-bottom: 0.6em;
    }
    &__unit {
        font-size: 0.8em;
    }
}
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__arrow {
        position: absolute;
        text-align: center;
        bottom: 50%;
        text-decoration: none;
        border: 1px solid none;
        padding: 5px 13px;
        background-color: rgb(71, 71, 71);
        font-size: 1.2em;
        border-radius: 50%;
        color: #fff;
        transition: background-color 0.3s ease-out;
        &--previous {
            left: 0;
            margin-left: 3%;
        }
        &--next {
            right: 0;
            margin-right: 5%;
        }
        &:hover {
            background-color: rgba(71, 71, 71, 0.7); 
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &__image {
        transition: display 1000ms ease-in-out;
        &--front {
            width: 100%;
        }
        &--rear {
            width: 100%;
        }
    }
}
.lacquer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__header {
        font-size: 1em;
        font-weight: 400;
        text-align: center;
        padding-bottom: 30px;
    }
    &__palette {
        text-align: center;
    }
    &__color {
        display:inline-block;
        width: 50px;
        height: 50px;
        margin: 0 2%;
        border-radius: 3px;
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);

        &::before {
            transition: background-color .15s ease-out, box-shadow .15s ease-in-out;
            content: ''
        }
        &--white {
        }
        &--grey {
            background-color: rgb(85, 90, 100);
        }
        &--black {
            background-color: #000;
        }
        &:hover {
            
            &::before {
                z-index: 100;
                display:inline-block;
                content: '';
                width: 50px;
                height: 50px;
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.15);
                box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
            }
        }
    }
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__button {
        margin: 15px 20px;
        padding: 13px 50px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 0.8em;
        letter-spacing: 4px;
        &--features {
            background-color: #303967;
        }
        &--compare {
            background-color: #090909;
        }
    }
}

.visible {
    display: block;
}
.unvisible {
    display: none;
}

@media (max-width: 768px) { 
    .wrapper {
        &__heading {
            & > * {
                margin: 15px 5px;
            }
        }
    }
}