.car-detail {
    &__section {
        z-index: 1000;
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background:rgba(0, 0, 0, 0.8);

        &::before {
            content: '';
            z-index: 1000;
            top: 0;
            left: 0;
            position: fixed;
            width: 100vw;
            height: 100vh;
            backdrop-filter: blur(10px);
        }
        

    }
    &__article {
        z-index: 100000;
        position: fixed;
        top: 8%;
        left: 50%;
        width: 90vw;
        height: 90vh;
        transform: translate(-50%, 0px);
        background-color:#fff;
        border-radius: 1em;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    }
    &__col {
        display: flex;
        padding: 40px;
        &:nth-of-type(1) {
            width: 50%;
        }

        &:nth-of-type(2) {
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
        }
    }
    &__heading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        & > * {
            color: #333333;
            text-transform: uppercase;
            font-size: 3em;
        }
        & > .manufacture {
            padding: 0 20px 0 0;
        }
    }

    &__description {
        padding-top: 30px;
        & > .description {
            width: 75%;
            font-size: 1vw;
            line-height: 2em;
            letter-spacing: 0.1em;
            max-height: 350px;
            overflow: hidden;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }
    &__button {
        margin: 20px auto;
        text-align: center;
        & > * {
            box-shadow: -4px 4px 5px 1px rgba(0,0,0,0.5);
            background-color:#334455;
            padding: 10px 30px;
            border: 1px solid #334455;
            color: white;
        }
    }
    &__image {
        width: 100%;
        & > img { 
            border: none;
            border-radius: 0.7em;
            height: 640px;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 40px;
        & > * {
            padding-right: 50px;
            color: #333333;
        }
    }
}

.heading {
    font-size: 2em;
    color: #555555;
    &--modified {
        color: #1b1b1b;
        padding-left: 0.3em;
    }
}

@media (max-width: 1170px) and (orientation: portrait) {
    .car-detail {
        &__article {
        }
        &__wrapper {
            padding: 20px;
        }
        &__col {
            display: flex;
            align-items: center;
            padding: 0 30px;
            &:nth-of-type(1) {
                width: 100%;
            }
    
            &:nth-of-type(2) {
                flex-direction: column;
                justify-content: space-evenly;
                width: 100%;
            }
        }
        &__image {
            margin: 0 auto;
            width: initial;
            & > img { 
                margin: 0 auto;
                border: none;
                border-radius: 0.7em;
                height: 40vh;
            }
        }

        &__description {
            & > .description {
                margin: 0 auto;
                font-size: 1.2vw;
                height: 15vh;
            }
        }
    }
    .heading {
        font-size: 1.2em;
        color: #555555;
        &--modified {
            color: #1b1b1b;
            padding-left: 0.3em;
        }
    }
}
@media (max-width: 576px)  {
    .car-detail {
        &__article {
            top: 10%;
            height: 89vh;
        }
        &__col {
           padding: 0 30px;
        }
        &__image {
            & > img { 
                height: 30vh;
            }
        }
        &__description {
            padding-top: 10px;
            & > .description {
                width: 100%;
                font-size: 2vw;
                max-height: 12vh;
            }
        }
        &__heading {   
            & > * {
                font-size: 7vw;
            }
        }
        &__wrapper {
            padding-top: 10px;
        }
    }
    .heading {
        font-size: 3vw;
        &--modified {
        }
    }
}

@media (orientation: landscape) and (max-width: 992px) {
    .car-detail {
        &__article {
            top: 20%;
            height: 75vh;
        }
        &__col {
            padding: 0 10px;
            &:nth-of-type(1) {
                width: 40%;
            }

            &:nth-of-type(2) {
                flex-direction: column;
                justify-content: space-evenly;
                width: 60%;
            }
        }
        &__heading {
            padding-top: 10px;
            & > * {
                text-align: left;
                color: #333333;
                text-transform: uppercase;
                font-size: 4vw;
            }
        }
        &__description {
            padding-top: 10px;
        }
        &__button {
            & > * {
                box-shadow: -4px 4px 5px 1px rgba(0,0,0,0.5);
                border-radius: 4px;
            }
        }
        &__image {
            width: 100%;
            & > img { 
                border: none;
                border-radius: 0.7em;
                height: 50vh;
            }
        }
    }
  }
  