/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css');

$text-color--white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;  
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: rgb(233, 233, 233);
}