<nav class="navigation">
    <div class="navigation__wrapper">
        <div class="navigation__logo-container">
            <a href="" class="navigation__logo-link">
                <img src="../../assets/auto-trade-logo-retina.png" width="146" height="41" alt="Autotrader logo" class="navigation__logo-image">
            </a>
        </div>
        <div class="navigation__buttons-wrapper">
            <ul class="navigation__list">
                <li class="navigation__element">
                    <a href="#" class="navigation__link">Home</a>
                </li>
                <li class="navigation__element">
                    <a href="#" class="navigation__link">My cars</a>
                </li>
                <li class="navigation__element">
                    <a href="#" class="navigation__link">Cars</a>
                </li>
            </ul>
            <a href="#" class="navigation__link navigation__link--red"><span class="navigation__link--plus">+</span> Add a new car</a>
        </div>
    </div>
</nav>