
.navigation {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(0,0,0,0.8);
    &__logo {
        &-image {
    
        }
        &-container {
    
        }
    }
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__element { 
        margin: 0 10px;
        display: inline-block;
    }
    &__link { 
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 1px;

        &:focus {
            padding-bottom: 3px;
            border-bottom: 2px solid #fff;
        }

        &--red {     
            padding: 10px 20px;
            margin-left: 30px;
            background-color: rgb(255, 46, 46);
            font-weight: 700;
            transition: background-color .15s ease-out;
            

            &:hover {
                background-color: rgb(109, 18, 18);
            }
            &:focus {
                padding: 10px 20px;
                border: 0;
            }
        }
        &--plus {
            font-weight: 700;
        }
    }
}
