<nav class="navigation">
    <div class="navigation__logo-container">
        <img src="../../assets/auto-trade-logo-retina.png" alt="Autotrader logo" class="navigation__logo-image">
    </div>
    <ul class="navigation__list">
        <li class="navigation__list-element">
            <a href="#" class="navigation__list-element__link">Home</a>
        </li>
        <li class="navigation__list-element">
            <a href="#" class="navigation__list-element__link">My cars</a>
        </li>
        <li class="navigation__list-element">
            <a href="#" class="navigation__list-element__link">Cars</a>
        </li>
        <li class="navigation__list-element">
            <a href="#" class="navigation__list-element__link">Add a new car</a>
        </li>
    </ul>
</nav>